/*overall*/
*{
    margin: 0;
    padding: 0;
}

header {
    color: #262624;
    font:  1.2rem "Fira Sans", sans-serif;
    background-image: url("../images/background_1.jpg");
}

h1 {
    color: #F2F2F2;
    padding: .2em;
    font-size: 50px;
}

main {
    color: #262624;
    background-color: #F2F2F2;
    font: 1.2rem "Fira Sans", sans-serif;
    padding: 1em 0.5em;
}

footer {
    color: #262624;
    background-color: #A6A486;
    font:  1.2rem "Fira Sans", sans-serif; 
    padding: .5em;
}

/*header*/
nav ul li {
    list-style-type: none;
    background-color: #F2F2F2;
    border-radius: 2em;
    padding: 1em 2em;
    transition: .5s;
}

nav ul li:hover {
    transform: scale(1.25);
    background-color: #262624;
}

nav ul{
    display: flex;
    justify-content: end;
    gap: 1em;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #262624;
}

nav ul li:hover a {
    color: #F2F2F2;
}

/*home page*/
.home section {
    gap: 0.5em;
}

.home h2 {
    width: 100%;
}

.home section:first-of-type img {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.home section:first-of-type {
    display: flex;
    flex-wrap: wrap;
}

.home section:first-of-type div {
    flex: 1 1 30em;
}

.home section:first-of-type > img:first-of-type {
    flex: 1 1 30em;
    object-fit: contain;
    height: 30em;
}

.home section:first-of-type div p:nth-of-type(2) {
    padding-bottom: 1em;
}

.home h3 {
    padding-bottom: 0.5em;
}

.about section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap; 
}

.about section:nth-of-type(2) div {
    flex: 1 1 25em; 
}

.about section:nth-of-type(2) > img {
    flex: 1 1 1em;
    object-fit: contain;
    height: 20em;
}

.about section:nth-of-type(2) div {
   order: 1;
}

.home section:last-of-type {
    background-color: #A6A486;
    border-radius: 1em;
    padding: 1em;
    margin-top: 0.5em;
}

/*about page*/
.about section {
    gap: 0.5em;
}

.about img {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em; 
}

.about h3 {
    padding-top: 1em;
    width: 100%;
}

.about section:first-of-type {
    display: flex;
    flex-wrap: wrap;
}

.about section:first-of-type div {
    flex: 1 1 30em;
}

.about section:first-of-type > img:first-of-type {
    flex: 1 1 20em;
    object-fit: contain;
    height: 29em;
}

.about section:first-of-type > img:last-of-type {
    flex: 0 0 100%;
    object-fit: cover;
    height: 15em;
}

.about section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.about section:nth-of-type(2) img {
    flex: 1 1 22em;
    height: 20em;
    object-fit: contain;
}

.about section:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap; 
}

.about section:nth-of-type(4) div {
    flex: 1 1 25em; 
}

.about section:nth-of-type(4) > img {
    flex: 1 1 1em;
    object-fit: contain;
    height: 20em;
}

.about section:nth-of-type(4) div {
    order: 1;
}

.about section:nth-of-type(5) {
    display: flex;
    flex-wrap: wrap; 
}

.about section:nth-of-type(5) div {
    flex: 1 1 25em; 
}

.about section:nth-of-type(5) > img {
    flex: 1 1 1em;
    object-fit: contain;
    height: 20em;
}

.about section:nth-of-type(6) img {
    width: 100%;
    height: 25%;
}

.about section:nth-of-type(8) {
    display: flex;
    flex-wrap: wrap;
}

.about section:nth-of-type(8) img {
    margin: 0 auto;
}

/*members page*/
.members img {
    width: 20%;
    padding-bottom: 0.5em;
}

.members section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.members section h2 {
    flex: 0 0 100%; 
}

.members section article {
    display: flex;
    flex-direction: column;
    flex: 1 0 30em;
    justify-content: space-between;
    background-color: #A6A486;
    padding: 1em;
    border-radius: 1em;
}

/*line up page*/
.line_up img {
    width: 100%;
    height: 20em;
    object-fit: contain;
    padding: 1em;
}

.line_up h2 {
    padding-bottom: 0.5em;
}

.line_up ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.line_up ul li {
    list-style: none;
    flex-direction: column;
    flex: 1 1 20em;   
}

.line_up a {
    color: #262624;
    background-color: #A6A486;
    padding: 0.5em;
    width: 50%;
    border-radius: 1em;
    transition: .5s;
}

.line_up a:hover {
    color: #F2F2F2;
}
